<label>HTML5 / CSS3 + responsive design</label>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		<span class="sr-only">100%</span>
	</div>
</div>

<label>JavaScript + client / server frameworks</label>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		<span class="sr-only">100%</span>
	</div>
</div>

<label>PHP5 + MVC frameworks</label>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		<span class="sr-only">100%</span>
	</div>
</div>

<label>SQL - MySQL, PostgreSQL</label>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		<span class="sr-only">100%</span>
	</div>
</div>

<label>NoSQL - MongoDB</label>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
		<span class="sr-only">80%</span>
	</div>
</div>

<label>Solr, ElasticSearch</label>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
		<span class="sr-only">80%</span>
	</div>
</div>

<label>C#, Java, Ruby, Python</label>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
		<span class="sr-only">70%</span>
	</div>
</div>

<label>Linux + server management</label>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
		<span class="sr-only">90%</span>
	</div>
</div>

<label>Chef, Puppet, Vagrant</label>
<div class="progress progress-striped active">
	<div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
		<span class="sr-only">70%</span>
	</div>
</div>
