<div id="wrap">
	<div id="header">
		{{partial header}}
	</div>

	{{partial menu}}

	<div id="main">
		<div class="container">
			<div id="content" class="row">
				{{outlet}}
			</div>
		</div>
	</div>
</div>

<div id="footer">
	footer
</div>
