<div id="sky">
	<div class="container">
		<div class="row">
			<div id="title" class="col-xs-6">
				<h1>Alex Crawford</h1>
			</div>
			<div id="social" class="col-xs-6">
				<div class="pull-right">
					<i class="icon-twitter"></i>
					<i class="icon-facebook"></i>
					<i class="icon-github"></i>
					<i class="icon-bitbucket"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="roof">
	<div class="container">
		<div class="row">
			<div id="description" class="col-xs-8">
				<div class="row">
					<div class="col-xs-3">
						<img src="/img/me.png">
					</div>
					<div class="col-xs-9">
						<h2>Web / Application Developer</h2>
						<p>
							I am a problem solver and a leader. I seek challenges that require me to overcome obstacles and implement better solutions. I am fascinated by rapidly evolving technology and extremely passionate about my work.
						</p>
					</div>
				</div>
			</div>
			<div id="contact" class="col-xs-4">
				<ul class="nav nav-pills nav-stacked">						
					<li>
						<a href="#">
							<i class="icon-phone"></i>
							<span>321-759-5293</span>
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">
							<i class="icon-envelope-alt"></i>
							<span>awc737@gmail.com</span>
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">
							<i class="icon-download-alt"></i>
							<span>Download My Resume</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>