<div id="skills" class="col-md-4">
	<h3><i class="icon-gear"></i> Skills</h3>
	{{partial "about/skills"}}
</div>

<div id="overview" class="col-md-8">
	<h3><i class="icon-lightbulb"></i> Overview</h3>
	<p>
		With over 12 years of experience creating websites, pleasing aesthetics and effective functionality come naturally. As a developer I exhibit great strength in discovering technical problems, then quickly and accurately delivering solutions through code and logic. My vast experience in every facet of the application lifecycle has diversified my skillset, making me a viable asset to any area of a technical project.
	</p>
</div>

<div id="projects" class="col-md-8">
	<h3><i class="icon-laptop"></i> Recent Projects</h3>
	<p>
		
	</p>
</div>